.Layout {
  height: 100vh;
  &__nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }

  &__body {
    height: 100%;
    padding: 1rem;
    overflow-y: auto;

    &-bottom-padding {
      height: 50px;
    }
  }
}
