.ProductListItemWrapper {
  position: relative;
}

.ProductListItem {
  display: grid;
  grid-template-columns: 30px 3fr 1fr 30px;
  align-items: center;
  border-bottom: 1px solid #e5f6f9;
  padding: 0.5rem;
  z-index: 1;
  position: relative;
  background: #fff;
  height: 100%;

  &__slide-indicator {
    display: flex;
    align-items: center;
  }
}
