// Colors
:root {
  --primary-blue: #006e90;
  --secondary-blue: #41bbd9;
  --primary-orange: #ff8552;
  --primary-gray: #aa9fb1;
  --white: #fff;
  --error: red;
  --warning: #ff8552;
}

.App {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
