.CircleButton {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #fff;
  transition: transform 100ms ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &__primary {
    border: 1px solid #21a179;
  }

  &__secondary {
    border: 1px solid #ab2346;
  }

  &:hover {
    transform: scale(1.2);
  }
}
